<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
        laboriosam amet voluptas dolorem, qui minima non incidunt ullam.
      </p>

      <p>
        Debitis mollitia laudantium soluta dolorem atque nostrum nam excepturi
        nulla hic explicabo.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
