<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
      <form>
        <label for="title"> Blog title </label>
        <input type="text" id="title" required />
        <label for="snippet">Blog snippet</label>
        <input type="text" id="snipped" required />
        <label for="body"> Blog body</label>
        <textarea id="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
