<nav>
  <div class="site-title">
    <a href="/">
      <h1>Node Js</h1>
    </a>
    <p>Node js crash course</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About </a></li>
    <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
